[user]
	email = yehonatan.e@solaredge.com
	name = Yoni Elentok
[push]
    default = simple
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    visual = !gitg
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    delete = !"f() { git push --delete origin \"$1\"; git branch -d \"$1\"; }; f"
    Delete = !"f() { git push --delete origin \"$1\"; git branch -D \"$1\"; }; f"
    pu = !"f() { branch=$( git branch | grep "^*" | cut -d ' ' -f2 ); git push origin $branch; }; f"
    pl = !"f() { branch=$( git branch | grep "^*" | cut -d ' ' -f2 ); git pull origin $branch; }; f"
