[user]
	email = yehonatan.e@solaredge.com
	name = Yoni Elentok
[push]
    default = simple
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    visual = !gitg
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    delete = !"f() { git fetch --prune origin; git push --delete origin \"$1\" ; git branch -d \"$1\"; git fetch --prune origin; }; f"
    mustdelete = !"f() { git fetch --prune origin; git push --delete origin \"$1\"; git branch -D \"$1\" ; }; f"
    ph = !"f() { branch=$( git branch | grep "^*" | cut -d ' ' -f2 ); git push origin $branch; }; f"
    phf = !"f() { branch=$( git branch | grep "^*" | cut -d ' ' -f2 ); git push origin $branch -f; }; f"
    pl = !"f() { branch=$( git branch | grep "^*" | cut -d ' ' -f2 ); git pull origin $branch; }; f"
[diff]
	tool = meld
    merge = meld
[rerere]
	enabled = true
[icdiff]
	options = --highlight --line-numbers
[include]
	path = ~/projects/tools/env/gitlab/se_gitconfig
